body {
  background: #121328;
  color: #e0e0e0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  background-image: url('../img/hedgehogs-back.png');
  background-repeat: no-repeat;
  background-size: 70%;
  background-attachment: fixed;
  background-position: right bottom;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.05);
}
input[type="button"] {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  appearance: none;
}

label.btn, .icon-btn button {
  width: 90px;
}

.form-group .input-group-btn button[type=submit] {
  padding: 6px 35px;
  color: #e0e0e0;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.form-group .input-group-btn button[type=submit]:hover {
  background-color: #2269a6;
}

.input-group-btn .submit-btn {
  font-weight: bold;
}

.form-group .input-group button img {
  width: 30%;
}


.input-group input{
  width: 100% ;
}

.needclick{
  padding: 0px;
}

.notes {
  margin-bottom: 30px;
}

.top-color-btn {
  margin-bottom: 10px;
}

.colors .btn-group label.active.black {
  background-color: black;
  color: white;
}

.colors .btn-group label.active.red {
  background-color: red;
  color: white;
}

.colors .btn-group label.active.green {
  background-color: green;
  color: white;
}

.colors .btn-group label.active.purple {
  background-color: purple;
  color: white;
}

.colors .btn-group label.active.blue {
  background-color: blue;
  color: white;
}

.colors .btn-group label.active.pink {
  background-color: pink;
  color: black;
}

.colors .btn-group label.active.yellow {
  background-color: yellow;
  color: black;
}

.colors .btn-group label.active.white {
  background-color: white;
  color: black;
}

/* .input-btn {
  padding: 10px
} */

/* 要リファクタリング */
.colors .form-group .top-color-btn .btn:nth-child(-n+4) {
  margin-bottom: 10px;
}
.colors .form-group .top-color-btn .btn:nth-child(4) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.colors .form-group .top-color-btn .btn:nth-child(4) {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
#comment_form > div.colors label.btn.btn-default.blue {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
